.App {
  text-align: center;
}

.App-header {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btns-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  width: 100%;
  justify-content: left;
}

.btns-wrapper > button {
  margin-right: 1%;
  margin-left: 1%;
}
